body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: rgba(255, 255, 255, 0);
}

footer {
    margin: 50px 0;
}

.home_page_photo{

    width: 400px !important;
    height: 200px !important;
    
    } 